<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Витрина товаров</title>
</head>

<body>

    <a href="/orders" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a href="/cart" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <a href="/products" style="float:right;">
        <b>ГЛАВНАЯ &cudarrr;</b>
    </a>
    <div style="width:70%;margin-left:auto;margin-right:auto;">
        <p>
            <img width="300" height="300" th:src="'data:image/png;base64, '+${product.getImageBase64()}">
        </p>
        <p>
            <b th:text="${product.getName()}"></b>
            <b th:text="${product.getPrice()}" style="text-align:right;"></b>
        </p>
        <p>
            <span th:text="${product.getDescription()}"></span>
        </p>
        <form th:action="@{/products/{id}/changeCartItemQuantity/{id}(id=${product.id})}" method="post">
            <button name="action" value="minus">-</button>
            <span th:text="${product.quantityInCart}"></span>
            <button name="action" value="plus">+</button>
            <button name="action" value="plus" th:if="${product.quantityInCart == 0}" style="float:right;">
                В корзину
            </button>
        </form>
    </div>
</body>

</html>
