<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Заказ</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/cart" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a href="/products" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<!-- В if true, если перешли со страницы оформления заказа, false в остальных случаях -->
<h1 style="text-align:center" th:if="${justBought}">Поздравляем! Успешная покупка! &#128578;</h1>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <!-- В text номер заказа -->
            <h2 th:text="${order.getId()}"></h2>
        </td>
    </tr>
    <!-- Итерируемся по товарам из заказа -->
    <tr th:each="orderItem: ${order.getOrderItems()}">
        <td>
            <table>
                <tr>
                    <td>
                        <!-- В href ссылка на страницу с карточкой товара -->
                        <a th:href="@{/products/{id}(id=${orderItem.getProductId()})}">
                            <!-- В src ссылка изображение товара -->
                            <img width="300" height="300"
                                 th:src="'data:image/png;base64, '+${orderItem.getBase64Image()}"
                            >
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- В text название товара -->
                        <b th:text="${orderItem.getProductName()}"></b>
                    </td>
                    <td>
                        <!-- В text описание товара -->
                        <b th:text="${orderItem.getProductDescription()}"></b>
                    </td>
                    <td>
                        <!-- В text цена товара -->
                        <b th:text="${orderItem.getPrice()}"></b>
                    </td>
                    <td>
                        <!-- В text цена товара -->
                        <b th:text="'Количество: '+${orderItem.getQuantity()}"></b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <!-- В text общая сумма заказа -->
            <h3 th:text="${order.getSum()}"></h3>
        </td>
    </tr>
</table>
</body>

</html>
