<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Витрина товаров</title>
</head>

<body>
    <a th:href="@{/orders}" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a th:href="@{/cart}" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <a th:href="@{/products/uploadCSV}" style="float:right;">
        <b>Импорт CSV &cudarrr;</b>
    </a>
    <form method="POST" th:action="@{/logout}">
        <button name="action" >Выйти</button>
    </form>
    <table style="width:70%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <form>
                    <p>
                        <label for="search">Найти: </label>
                        <input id="search" style="width:300px;" name="search" th:value="${search}">
                        <button name="action">&#128269;</button>
                    </p>
                    <p>
                        <label for="sort">Сортировка: </label>
                            <select id="sort" name="sort" onchange="this.form.submit()">
                            <option value="NO" th:selected='${(sort=="NO")}'>нет</option>
                            <option value="ALPHA" th:selected='${(sort=="ALPHA")}'>по алфавиту</option>
                            <option value="PRICE" th:selected='${(sort=="PRICE")}'>по цене</option>
                        </select>
                    </p>
                    <p>
                        <label for="pageSize">Число товаров: </label>
                        <select id="pageSize" name="pageSize" onchange="this.form.submit()">
                            <option value="5" th:selected='${pageSize==5}'>5</option>
                            <option value="10" th:selected='${pageSize==10}'>10</option>
                            <option value="20" th:selected='${pageSize==20}'>20</option>
                            <option value="50" th:selected='${pageSize==50}'>50</option>
                            <option value="100" th:selected='${pageSize==100}'>100</option>
                        </select>
                    </p>
                    <p>
                        <button th:if="${pageNumber!=1}" name="pageNumber" th:value="${pageNumber-1}">&lt;</button>
                        <span th:text="${'Страница: ' + pageNumber}"></span>
                        <button th:if="${pageNumber!=lastPageNumber}" name="pageNumber" th:value="${pageNumber+1}">&gt;</button>
                    </p>
                </form>
            </td>
        </tr>
    <tr th:each="product: ${products}">
            <table>
                <tr>
                    <td>
                        <a th:href="@{/products/{id}(id=${product.getId()})}">
                            <img width="300" height="300"
                                th:src="'data:image/png;base64, '+${product.getImageBase64()}"
                            >
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${product.name}"></b>
                    </td>
                    <td>
                        <b th:text="${product.price}"></b>
                    </td>
                </tr>
                <tr>
                    <td th:text="${product.description}"></td>
                </tr>
                <tr>
                    <td>
                        <form th:action="@{/products/changeCartItemQuantity/{id}(id=${product.id})}" method="post">
                            <button name="action" value="minus">-</button>
                            <span th:text="${product.quantityInCart}"></span>
                            <button name="action" value="plus">+</button>
                            <button name="action" value="plus" th:if="${product.quantityInCart == 0}" style="float:right;">
                                В корзину
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </tr>
    </table>
</body>

</html>
